@charset "utf-8";

.ad-top {
  height: 80px;
  background-color: #CA1420;
}

.ad-top-wrap {
  position: relative;
  margin: 0 auto;
  width: 980px;
}

.ad-top button {
  position: absolute;
  top: 11px;
  right: 10px;
  background-image: url("/assets/img/btn_ad_close.png");
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.contaniner {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}

/* header start */
header .header-border {
  border-bottom: 1px solid #eee;
}

header .contaniner {
  display: flex;
  justify-content: space-between;
  padding: 30px 6px 25px 5px;
}

header .logo {
  display: flex;
  align-items: flex-end;
  height: 53px;
}

header .logo a {
  display: block;
  height: 100%;
}

header .logo img {
  height: 100%;
}

header .logo span {
  font-weight: 300;
  font-size: 16px;
  color: #222;
  letter-spacing: 0.313em;
  line-height: 1.500em;
}

header .memberInfo_wrap {
  display: flex;
  align-items: center;
}

header .memberInfo_wrap ul {
  display: flex;
  align-items: center;
}

header .memberInfo_wrap ul li {
  margin-left: 36px;
  margin-top: 2px;
}

header .memberInfo_wrap ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .memberInfo_wrap ul li a img {
  width: 36px;
  height: 36px;
}

header .memberInfo_wrap ul li a span {
  font-size: 13px;
  color: #666;
  line-height: 1.462em;
}

header .nav {
  padding: 5px 0;
  border-bottom: 2px solid #fb4357;
}

header .nav .contaniner {
  padding: 0;
}

header .nav .nav_menu {
  display: flex;
}

header .nav .nav_menu > li {
  padding: 8px 25px;
  padding-top: 7px;
}

header .nav .nav_menu > li:first-child {
  padding-left: 0;
}

header .nav .nav_menu > li:last-child {
  padding-right: 0;
}

header .nav .nav_menu > li > a {
  font-weight: 500;
  font-size: 16px;
  color: #222;
  line-height: 1.500em;
}

header .nav .nav_menu > li > a.strong {
  font-weight: 700;
  color: #fb4357;
}

header .nav .search_wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

header .nav .search_wrap:before, .search_wrap:after {
  content: '';
  width: 1px;
  height: 20px;
  background-color: #cacaca;
}

header .nav .search_wrap input[type="text"] {
  width: 180px;
  height: auto;
  padding: 0 0 0 7px;
  font-size: 16px;
  color: #222;
  line-height: 1.500em;
  border: none;
  margin-left: 9px;
}

header .nav .search_wrap button {
  display: block;
  width: 26px;
  height: 26px;
  font-size: 0;
  line-height: 0;
  background: transparent url(/assets/img/search.png) center center / 26px scroll no-repeat;
  margin-right: 9px;
}
/* header end */

/* movie_wrap start */
.movie_wrap {
  position: relative;
  height: 497px;
  background-color: #000;
}

.movie_wrap .contaniner {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.movie_wrap .contaniner video {
  width: 100%;
  height: 100%;
  transform: scale(1.35);
  z-index: 1;
}

.movie_wrap .contaniner:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 75%, #000 100%);
  z-index: 2;
}

.movie_wrap .title {
  position: absolute;
  top: 169px;
  left: 0;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  line-height: 1.450em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.72);
  z-index: 2;
  pointer-events: none;
}

.movie_wrap .txt {
  position: absolute;
  top: 238px;
  left: 0;
  font-size: 20px;
  color: #fff;
  line-height: 1.450em;
  z-index: 3;
  pointer-events: none;
}

.movie_wrap .controller_wrap {
  display: flex;
  position: absolute;
  top: 314px;
  left: 3px;
  z-index: 4;
}

.movie_wrap .controller_wrap .detailView {
  display: block;
  padding: 5px 30px 5px 18px;
  font-size: 14px;
  color: #343434;
  line-height: 1.429em;
  background: rgba(255, 255, 255, 0.8) url(/assets/img/arrowR_8x13.png) calc(100% - 11px) center / 8px 13px scroll no-repeat;
  border-radius: 15px;
}

.movie_wrap .controller_wrap .playStop {
  display: block;
  margin-left: 10px;
  width: 28px;
  height: 28px;
  font-size: 0;
  background: transparent url(/assets/img/pause.png) center / 18px scroll no-repeat;
  border: 1px solid #979797;
  border-radius: 50%;
}

.movie_wrap .controller_wrap .playStop.active {
  background: transparent url(/assets/img/play.png) center / 18px scroll no-repeat;
}

.movie_wrap .controller_wrap .soundOnOff {
  display: block;
  margin-left: 10px;
  width: 28px;
  height: 28px;
  font-size: 0;
  background: transparent url(/assets/img/soundOff.png) center / 18px scroll no-repeat;
  border: 1px solid #979797;
  border-radius: 50%;
}

.movie_wrap .controller_wrap .soundOnOff.active {
  background: transparent url(/assets/img/soundOn.png) center / 18px scroll no-repeat;
}
/* movie_wrap end */

/* movieChart_wrap start */
.movieChart_wrap {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(232, 232, 232, 0.37));
}

.movieChart_wrap .contaniner {
  overflow: hidden;
  padding: 50px 30px 60px;
}

.movieChart_wrap .movieChart_btn_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movieChart_wrap .movieChart_btn_wrap .tabBtn_wrap a {
  font-weight: 400;
  font-size: 26px;
  color: #666;
  line-height: 1.423em;
}

.movieChart_wrap .movieChart_btn_wrap .tabBtn_wrap a.active {
  font-weight: 700;
  color: #222;
}

.movieChart_wrap .movieChart_btn_wrap .tabBtn_wrap a:nth-of-type(2) {
  position: relative;
  margin-left: 32px;
}

.movieChart_wrap .movieChart_btn_wrap .tabBtn_wrap a:nth-of-type(2)::after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #d8d8d8;
}

.movieChart_wrap .movieChart_btn_wrap .btn_allView {
  padding: 4px 32px 4px 15px;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
  background: transparent url(/assets/img/arrowR_8x13.png) calc(100% - 7px) center / 8px 13px scroll no-repeat;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.movieChart_wrap .movieChart_list#reserMovie_list {
  display: none;
}
/* movieChart_wrap end */

/* event_wrap start */
.event_wrap {
  padding: 60px 0 6px;
}

.event_wrap .event_title_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event_wrap .event_title_wrap p {
  font-weight: 700;
  font-size: 26px;
  color: #222;
  line-height: 1.423em;
}

.event_wrap .event_title_wrap .eventBtn_wrap {
  display: flex;
  align-items: center;
}

.event_wrap .event_title_wrap .eventBtn_wrap .btn_eventControl {
  display: block;
  width: 28px;
  height: 28px;
  font-size: 0;
  background: transparent url(/assets/img/playBlack.png) 10px center / 11px 15px scroll no-repeat;
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  margin-right: 4px;
}

.event_wrap .event_title_wrap .eventBtn_wrap .btn_allView {
  padding: 4px 32px 4px 15px;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
  background: transparent url(/assets/img/arrowR_8x13.png) calc(100% - 7px) center / 8px 13px scroll no-repeat;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.event_wrap .event_list_wrap {
  /* overflow: hidden; */
  margin-top: 19px;
}
/* event_wrap end */

/* specialHall_wrap start */
.specialHall_wrap {
  padding: 60px 0 21px;
}

.specialHall_wrap .specialHall_title_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specialHall_wrap .specialHall_title_wrap p {
  font-weight: 700;
  font-size: 26px;
  color: #222;
  line-height: 1.423em;
}

.specialHall_wrap .specialHall_title_wrap .btn_allView {
  padding: 4px 32px 4px 15px;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
  background: transparent url(/assets/img/arrowR_8x13.png) calc(100% - 7px) center / 8px 13px scroll no-repeat;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.specialHall_wrap .specialHall_content {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}

.specialHall_wrap .specialHall_content > a {
  display: block;
  width: 500px;
  border-radius: 10px;
  background-image: url("/assets/img/specialHall_content1.png");
  background-size: cover;
  background-position: center center;
}

.specialHall_wrap .specialHall_content ul {
  width: 440px;
}

.specialHall_wrap .specialHall_content ul li {
  border: 1px solid transparent;
  border-top: 1px solid #e9e9e9;
}

.specialHall_wrap .specialHall_content ul li:last-child {
  border-bottom: 1px solid #e9e9e9;
}

.specialHall_wrap .specialHall_content ul li.active {
  border-top: 1px solid transparent;
  border: 1px solid #000;
  border-radius: 10px;
}

.specialHall_wrap .specialHall_content ul li.active + li {
  border-top: 1px solid transparent;
}

.specialHall_wrap .specialHall_content ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 25px 19px 19px;
}

.specialHall_wrap .specialHall_content ul li a p {
  font-weight: 400;
  font-size: 18px;
  color: #222;
  line-height: 1.444em;
}

.specialHall_wrap .specialHall_content ul li.active a p {
  font-weight: 700;
}

.specialHall_wrap .specialHall_content ul li a span {
  padding: 2px 7px;
  font-size: 14px;
  color: #666;
  line-height: 1.429em;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.specialHall_wrap .specialHall_content ul li.active a span {
  font-weight: 400;
}
/* specialHall_wrap end */

/* giftcon_wrap start */
.giftcon_wrap {
  padding: 60px 0 0;
}

.giftcon_wrap ul {
  display: flex;
}

.giftcon_wrap ul > li {
  margin-right: 25px;
}

.giftcon_wrap ul > li:last-child {
  margin-right: 0;
}

.giftcon_wrap ul > li {
  width: 270px;
  padding: 20px 19px 30px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}

.giftcon_wrap ul > li .giftcon_content_title_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.giftcon_wrap ul > li .giftcon_content_title_wrap p {
  font-weight: 500;
  font-size: 20px;
  color: #222;
  line-height: 1.450em;
}

.giftcon_wrap ul > li .giftcon_content_title_wrap a {
  padding: 2px 15px 3px;
  font-weight: 400;
  font-size: 12px;
  color: #666;
  line-height: 1.417em;
  border: 1px solid #f4f4f4;
  border-radius: 11px;
}

.giftcon_wrap ul > li > a {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.giftcon_wrap ul > li > a:nth-of-type(1) {
  margin-top: 27px;
}

.giftcon_wrap ul > li > a img {
  width: 75px;
  height: 76px;
}

.giftcon_wrap ul > li > a div {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.giftcon_wrap ul > li > a div span {
  font-weight: 500;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
}

.giftcon_wrap ul > li > a div  strong {
  font-weight: 700;
  font-size: 16px;
  color: #222;
  letter-spacing: -0.020em;
  line-height: 1.444em;
}
/* giftcon_wrap end */

/* notice_wrap start */
.notice_wrap {
  padding: 30px 0 120px;
}

.notice_wrap .contaniner {
  display: flex;
  justify-content: space-between;
}

.notice_wrap .notice_container {
  display: flex;
  width: 736px;
  height: 236px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}

.notice_wrap .notice_container .notice_content_wrap {
  width: 460px;
  padding: 24px 26px 20px 30px;
}

.notice_wrap .notice_container .notice_content_wrap .notice_content {
  padding-bottom: 21px;
  border-bottom: 1px solid #f4f4f4;
  display: flex;
}

.notice_wrap .notice_container .notice_content_wrap .notice_content strong {
  font-weight: 500;
  font-size: 16px;
  color: #222;
  line-height: 1.500em;
}

.notice_wrap .notice_container .notice_content_wrap .notice_content .btn_link {
  overflow: hidden;
  max-width: 300px;
  margin-top: 2px;
  margin-left: 28px;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notice_wrap .notice_container .notice_content_wrap .notice_content .btn_more {
  padding: 2px 15px 3px;
  font-weight: 400;
  font-size: 12px;
  color: #666;
  line-height: 1.417em;
  border: 1px solid #f4f4f4;
  border-radius: 11px;
}

.notice_wrap .notice_container .qr_wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 222px;
  text-align: center;
  border-left: 1px solid #e4e4e4;
}

.notice_wrap .notice_container .qr_wrap strong {
  display: block;
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #222;
  line-height: 1.500em;
}

.notice_wrap .notice_container .qr_wrap span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #222;
  line-height: 1.250em;
}

.notice_wrap .notice_container .qr_wrap img {
  margin-top: 29px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.notice_wrap .notice_container .qr_wrap p {
  margin-top: 24px;
  font-size: 12px;
  color: #666;
  letter-spacing: -0.030em;
  line-height: 1.417em;
}

.notice_wrap .ad_wrap {
  width: 211px;
  height: 238px;
  border-radius: 10px;
  overflow: hidden;
}
/* notice_wrap end */