@charset "utf-8";

.ad-top {
  height: 80px;
  background-color: #CA1420;
}

.ad-top-wrap {
  position: relative;
  margin: 0 auto;
  width: 980px;
}

.ad-top button {
  position: absolute;
  top: 11px;
  right: 10px;
  background-image: url("/assets/img/btn_ad_close.png");
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.contaniner {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}

/* header start */
header .header-border {
  border-bottom: 1px solid #eee;
}

header .contaniner {
  display: flex;
  justify-content: space-between;
  padding: 30px 6px 25px 5px;
}

header .logo {
  display: flex;
  align-items: flex-end;
  height: 53px;
}

header .logo a {
  display: block;
  height: 100%;
}

header .logo img {
  height: 100%;
}

header .logo span {
  font-weight: 300;
  font-size: 16px;
  color: #222;
  letter-spacing: 0.313em;
  line-height: 1.500em;
}

header .memberInfo_wrap {
  display: flex;
  align-items: center;
}

header .memberInfo_wrap ul {
  display: flex;
  align-items: center;
}

header .memberInfo_wrap ul li {
  margin-left: 36px;
  margin-top: 2px;
}

header .memberInfo_wrap ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .memberInfo_wrap ul li a img {
  width: 36px;
  height: 36px;
}

header .memberInfo_wrap ul li a span {
  font-size: 13px;
  color: #666;
  line-height: 1.462em;
}

header .nav {
  position: relative;
  border-bottom: 2px solid #fb4357;
}

header .nav .contaniner {
  padding: 5px 0;
}

header .nav .contaniner > a {
  display: none;
}

header .nav .nav_menu {
  display: flex;
}

header .nav .nav_menu > li {
  padding: 8px 25px;
  padding-top: 7px;
}

header .nav .nav_menu > li:first-child {
  padding-left: 0;
}

header .nav .nav_menu > li:last-child {
  padding-right: 0;
}

header .nav .nav_menu > li > a {
  font-weight: 500;
  font-size: 16px;
  color: #222;
  line-height: 1.500em;
}

header .nav .nav_menu > li > a.strong {
  font-weight: 700;
  color: #fb4357;
}

header .nav .search_wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

header .nav .search_wrap:before, .search_wrap:after {
  content: '';
  width: 1px;
  height: 20px;
  background-color: #cacaca;
}

header .nav .search_wrap input[type="text"] {
  width: 180px;
  height: auto;
  padding: 0 0 0 7px;
  font-size: 16px;
  color: #222;
  line-height: 1.500em;
  border: none;
  margin-left: 9px;
}

header .nav .search_wrap button {
  display: block;
  width: 26px;
  height: 26px;
  font-size: 0;
  line-height: 0;
  background: transparent url(/assets/img/search.png) center center / 26px scroll no-repeat;
  margin-right: 9px;
}

header .nav .sub-menu {
  display: none;
  position: absolute;
  top: 51px;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

header .nav .sub-menu .contaniner {
  padding: 0;
  padding-bottom: 5px;
}

header .nav .sub-menu ul {
  display: flex;
}

header .nav .sub-menu ul li {
  position: relative;
  width: 162px;
  padding: 17px 0 28px 25px;
  box-sizing: border-box;
}

header .nav .sub-menu ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 17px;
  display: block;
  width: 1px;
  height: 250px;
  background-color: #eee;
  opacity: 0.8;
}

header .nav .sub-menu ul li:first-child {
  width: 137px;
  padding-left: 0;
}

header .nav .sub-menu ul li:first-child:before {
  width: 0;
}

header .nav .sub-menu ul li a {
  display: block;
  font-size: 14px;
  line-height: 2.143em;
}

header .nav .sub-menu ul li a:hover {
  text-decoration: underline;
}

header .nav .sub-menu ul li a.strong {
  font-weight: 700;
  color: #222;
  line-height: 1.429em;
  margin-bottom: 8px;
}

header .nav .sub-menu ul li a.arrowR:after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 9px;
  margin-left: 4px;
  background: transparent url(/assets/img/arrowR_5x9.png) center / 5px 9px scroll no-repeat;
}

header .nav.fixed {
  position: fixed;
  top: 0px;
  min-width: 1040px;
  padding: 10px 0;
  background-image: linear-gradient(to right, rgb(215, 67, 87), rgb(241, 79, 58) 59%, rgb(239, 100, 47));
  z-index: 7;
  width: 100%;
  border: none;
  box-sizing: border-box;
  height: 60px;
}

header .nav.fixed .contaniner {
  padding: 0;
}

header .nav.fixed .contaniner > a {
  width: 70px;
  height: 32px;
  position: absolute;
  display: inline-block;
  margin-top: 1px;
}

header .nav.fixed .contaniner > a img {
  width: 100%;
  height: 100%;
}

header .nav.fixed .nav_menu {
  margin-left: 120px;
}

header .nav.fixed .nav_menu > li > a {
  color: #fff;
}

header .nav.fixed .search_wrap input[type="text"] {
  color: #fff;
  background-color: transparent;
}

header .nav.fixed .search_wrap button {
  background: transparent url(/assets/img/search_w.png) center center / 26px scroll no-repeat;
}

header .nav.fixed .search_wrap:before, header .nav.fixed .search_wrap:after {
  background-color: #000;
  opacity: 0.2;
}

header .nav.fixed .sub-menu {
  top: 60px;
  border-bottom: 1px solid #a58e8e;
}

header .nav.fixed .sub-menu .contaniner {
  padding-bottom: 9px;
}

header .nav.fixed .sub-menu ul li {
  padding: 13px 0 28px 25px;
}
/* header end */

/* movie_wrap start */
.movie_wrap {
  position: relative;
  height: 497px;
  background-color: #000;
}

.movie_wrap .contaniner {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.movie_wrap .contaniner video {
  width: 100%;
  height: 100%;
  transform: scale(1.35);
  z-index: 1;
}

.movie_wrap .contaniner:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 75%, #000 100%);
  z-index: 2;
}

.movie_wrap .title {
  position: absolute;
  top: 169px;
  left: 0;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  line-height: 1.450em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.72);
  z-index: 2;
  pointer-events: none;
}

.movie_wrap .txt {
  position: absolute;
  top: 238px;
  left: 0;
  font-size: 20px;
  color: #fff;
  line-height: 1.450em;
  z-index: 3;
  pointer-events: none;
}

.movie_wrap .controller_wrap {
  display: flex;
  position: absolute;
  top: 314px;
  left: 3px;
  z-index: 4;
}

.movie_wrap .controller_wrap .detailView {
  display: block;
  padding: 5px 30px 5px 18px;
  font-size: 14px;
  color: #343434;
  line-height: 1.429em;
  background: rgba(255, 255, 255, 0.8) url(/assets/img/arrowR_8x13.png) calc(100% - 11px) center / 8px 13px scroll no-repeat;
  border-radius: 15px;
}

.movie_wrap .controller_wrap .playStop {
  display: block;
  margin-left: 10px;
  width: 28px;
  height: 28px;
  font-size: 0;
  background: transparent url(/assets/img/pause.png) center / 18px scroll no-repeat;
  border: 1px solid #979797;
  border-radius: 50%;
}

.movie_wrap .controller_wrap .playStop.active {
  background: transparent url(/assets/img/play.png) center / 18px scroll no-repeat;
}

.movie_wrap .controller_wrap .soundOnOff {
  display: block;
  margin-left: 10px;
  width: 28px;
  height: 28px;
  font-size: 0;
  background: transparent url(/assets/img/soundOff.png) center / 18px scroll no-repeat;
  border: 1px solid #979797;
  border-radius: 50%;
}

.movie_wrap .controller_wrap .soundOnOff.active {
  background: transparent url(/assets/img/soundOn.png) center / 18px scroll no-repeat;
}
/* movie_wrap end */

/* movieChart_wrap start */
.movieChart_wrap {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(232, 232, 232, 0.37));
}

.movieChart_wrap .contaniner {
  position: relative;
  padding: 50px 0 60px;
}

.movieChart_wrap .movieChart_btn_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.movieChart_wrap .movieChart_btn_wrap .tabBtn_wrap a {
  font-weight: 400;
  font-size: 26px;
  color: #666;
  line-height: 1.423em;
}

.movieChart_wrap .movieChart_btn_wrap .tabBtn_wrap a.active {
  font-weight: 700;
  color: #222;
}

.movieChart_wrap .movieChart_btn_wrap .tabBtn_wrap a:nth-of-type(2) {
  position: relative;
  margin-left: 32px;
}

.movieChart_wrap .movieChart_btn_wrap .tabBtn_wrap a:nth-of-type(2)::after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #d8d8d8;
}

.movieChart_wrap .movieChart_btn_wrap .btn_allView {
  padding: 4px 32px 4px 15px;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
  background: transparent url(/assets/img/arrowR_8x13.png) calc(100% - 7px) center / 8px 13px scroll no-repeat;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.movieChart_wrap .movieChart_list {
  overflow: hidden;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap {
  overflow: hidden;
  position: relative;
  width: 170px;
  height: 234px;
  border-radius: 10px;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.85));
  z-index: 2;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap > img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(0, -50%);
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap .movieAgeLimit_wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right: 6px;
  top: 7px;
  z-index: 4;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap .movieAgeLimit_wrap .ageDay {
  height: 20px;
  background-color: #fff;
  border-radius: 2px;
  font-weight: 700;
  font-size: 10px;
  color: #fb4357;
  letter-spacing: -0.165em;
  text-indent: -0.15em;
  text-align: center;
  line-height: 20px;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap .screenType_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 5;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap .screenType_wrap img {
  border: 1px solid rgba(223, 223, 223, 0.5);
  border-radius: 3px;
  width: 35px;
  height: 7px;
  padding: 1.5px 0;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap .screenType_wrap img:nth-of-type(2) {
  margin-top: 2px;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap .counter {
  position: absolute;
  left: 9px;
  bottom: -4px;
  font-weight: 400;
  font-size: 50px;
  color: #fff;
  line-height: 1em;
  z-index: 3;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.45);
  font-style: italic;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .movieAgeLimit_wrap
, .movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .screenType_wrap
, .movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .counter {
  display: none
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover {
  box-shadow: 6px 10px 20px 0 rgba(0, 0, 0, 0.4)
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover:before {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: none
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .btn_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .btn_wrap a {
  width: 120px;
  height: 34px;
  font-weight: 500;
  line-height: 34px;
  border-radius: 4px;
  text-align: center;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .btn_wrap a:hover {
  opacity: 0.8
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .btn_wrap a.btn_detail {
  background-color: #fff;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .btn_wrap a.btn_ticketing {
  margin-top: 6px;
  background-color: #fb4357;
  color: #fff;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap strong {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-top: 14px;
  font-size: 18px;
  color: #222;
  line-height: 1.167em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap span {
  display: block;
  margin-top: 9px;
  font-size: 14px;
  color: #444;
  line-height: 1.214em;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap span:nth-of-type(2) {
  padding-left: 16px;
}

.movieChart_wrap .movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap span img {
  width: 16px;
  height: 16px;
  vertical-align: top;
}

.movieChart_wrap .movieChart_list#reserMovie_list {
  display: none;
}
/* movieChart_wrap end */

/* event_wrap start */
.event_wrap {
  padding: 60px 0 6px;
}

.event_wrap .contaniner {
  position: relative;
}

.event_wrap .event_title_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event_wrap .event_title_wrap p {
  font-weight: 700;
  font-size: 26px;
  color: #222;
  line-height: 1.423em;
}

.event_wrap .event_title_wrap .eventBtn_wrap {
  display: flex;
  align-items: center;
}

.event_wrap .event_title_wrap .eventBtn_wrap .btn_eventControl {
  display: block;
  width: 28px;
  height: 28px;
  font-size: 0;
  background: transparent url(/assets/img/stop.png) 10px center / 11px 15px scroll no-repeat;
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  margin-right: 4px;
}

.event_wrap .event_title_wrap .eventBtn_wrap .btn_eventControl.active {
  background: transparent url(/assets/img/playBlack.png) 10px center / 11px 15px scroll no-repeat;
}

.event_wrap .event_title_wrap .eventBtn_wrap .btn_allView {
  padding: 4px 32px 4px 15px;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
  background: transparent url(/assets/img/arrowR_8x13.png) calc(100% - 7px) center / 8px 13px scroll no-repeat;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.event_wrap .event_list_wrap {
  overflow: hidden;
  margin-top: 19px;
}

.event_wrap .event_list_wrap ul li a {
  display: block;
}

.event_wrap .event_list_wrap ul li a img {
  width: 310px;
  height: 207px;
  border-radius: 10px;
  object-fit: cover;
}

.event_wrap .event_list_wrap ul li a strong {
  display: block;
  overflow: hidden;
  margin-top: 16px;
  font-size: 18px;
  color: #222;
  line-height: 1.444em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event_wrap .event_list_wrap ul li a span {
  display: block;
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.429em;
}
/* event_wrap end */

/* specialHall_wrap start */
.specialHall_wrap {
  padding: 60px 0 21px;
}

.specialHall_wrap .specialHall_title_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specialHall_wrap .specialHall_title_wrap p {
  font-weight: 700;
  font-size: 26px;
  color: #222;
  line-height: 1.423em;
}

.specialHall_wrap .specialHall_title_wrap .btn_allView {
  padding: 4px 32px 4px 15px;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
  background: transparent url(/assets/img/arrowR_8x13.png) calc(100% - 7px) center / 8px 13px scroll no-repeat;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.specialHall_wrap .specialHall_content {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}

.specialHall_wrap .specialHall_content > a {
  display: block;
  width: 500px;
  border-radius: 10px;
  background-image: url("/assets/img/specialHall_content1.png");
  background-size: cover;
  background-position: center center;
}

.specialHall_wrap .specialHall_content ul {
  width: 440px;
}

.specialHall_wrap .specialHall_content ul li {
  border: 1px solid transparent;
  border-top: 1px solid #e9e9e9;
}

.specialHall_wrap .specialHall_content ul li:last-child {
  border-bottom: 1px solid #e9e9e9;
}

.specialHall_wrap .specialHall_content ul li.active {
  border-top: 1px solid transparent;
  border: 1px solid #000;
  border-radius: 10px;
}

.specialHall_wrap .specialHall_content ul li.active + li {
  border-top: 1px solid transparent;
}

.specialHall_wrap .specialHall_content ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 25px 19px 19px;
}

.specialHall_wrap .specialHall_content ul li a p {
  font-weight: 400;
  font-size: 18px;
  color: #222;
  line-height: 1.444em;
}

.specialHall_wrap .specialHall_content ul li.active a p {
  font-weight: 700;
}

.specialHall_wrap .specialHall_content ul li a span {
  padding: 2px 7px;
  font-size: 14px;
  color: #666;
  line-height: 1.429em;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.specialHall_wrap .specialHall_content ul li.active a span {
  font-weight: 400;
}
/* specialHall_wrap end */

/* giftcon_wrap start */
.giftcon_wrap {
  padding: 60px 0 0;
}

.giftcon_wrap ul {
  display: flex;
}

.giftcon_wrap ul > li {
  margin-right: 25px;
}

.giftcon_wrap ul > li:last-child {
  margin-right: 0;
}

.giftcon_wrap ul > li {
  width: 270px;
  padding: 20px 19px 30px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}

.giftcon_wrap ul > li .giftcon_content_title_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.giftcon_wrap ul > li .giftcon_content_title_wrap p {
  font-weight: 500;
  font-size: 20px;
  color: #222;
  line-height: 1.450em;
}

.giftcon_wrap ul > li .giftcon_content_title_wrap a {
  padding: 2px 15px 3px;
  font-weight: 400;
  font-size: 12px;
  color: #666;
  line-height: 1.417em;
  border: 1px solid #f4f4f4;
  border-radius: 11px;
}

.giftcon_wrap ul > li > a {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.giftcon_wrap ul > li > a:nth-of-type(1) {
  margin-top: 27px;
}

.giftcon_wrap ul > li > a img {
  width: 75px;
  height: 76px;
}

.giftcon_wrap ul > li > a div {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.giftcon_wrap ul > li > a div span {
  font-weight: 500;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
}

.giftcon_wrap ul > li > a div  strong {
  font-weight: 700;
  font-size: 16px;
  color: #222;
  letter-spacing: -0.020em;
  line-height: 1.444em;
}
/* giftcon_wrap end */

/* notice_wrap start */
.notice_wrap {
  padding: 30px 0 120px;
}

.notice_wrap .contaniner {
  display: flex;
  justify-content: space-between;
}

.notice_wrap .notice_container {
  display: flex;
  width: 736px;
  height: 236px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}

.notice_wrap .notice_container .notice_content_wrap {
  width: 460px;
  padding: 24px 26px 20px 30px;
}

.notice_wrap .notice_container .notice_content_wrap .notice_content {
  padding-bottom: 21px;
  border-bottom: 1px solid #f4f4f4;
  display: flex;
}

.notice_wrap .notice_container .notice_content_wrap .notice_content strong {
  font-weight: 500;
  font-size: 16px;
  color: #222;
  line-height: 1.500em;
}

.notice_wrap .notice_container .notice_content_wrap .notice_content .btn_link {
  overflow: hidden;
  max-width: 300px;
  margin-top: 2px;
  margin-left: 28px;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notice_wrap .notice_container .notice_content_wrap .notice_content .btn_more {
  padding: 2px 15px 3px;
  font-weight: 400;
  font-size: 12px;
  color: #666;
  line-height: 1.417em;
  border: 1px solid #f4f4f4;
  border-radius: 11px;
}

.notice_wrap .notice_container .notice_content_wrap .client_wrap {
  display: flex;
  padding: 19px 0 22px;
}

.notice_wrap .notice_container .notice_content_wrap .client_wrap strong {
  font-weight: 500;
  font-size: 16px;
  color: #222;
  line-height: 1.500em;
}

.notice_wrap .notice_container .notice_content_wrap .client_wrap .client_list {
  padding-left: 28px;
}

.notice_wrap .notice_container .notice_content_wrap .client_wrap .client_list strong {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.714em;
}

.notice_wrap .notice_container .notice_content_wrap .client_wrap .client_list span {
  font-size: 14px;
  color: #222;
  line-height: 1.714em;
}

.notice_wrap .notice_container .notice_content_wrap .client_wrap .client_list p {
  font-size: 14px;
  color: #666;
  line-height: 1.714em;
}

.notice_wrap .notice_container .notice_content_wrap .client_btn_wrap {
  font-size: 0;
}

.notice_wrap .notice_container .notice_content_wrap .client_btn_wrap a {
  display: inline-block;
  padding: 7px 14px;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
  background-color: #f6f6f6;
  border-radius: 5px;
  margin-left: 10px;
}

.notice_wrap .notice_container .notice_content_wrap .client_btn_wrap a:first-child {
  margin-left: 0;
}

.notice_wrap .notice_container .qr_wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 222px;
  text-align: center;
  border-left: 1px solid #e4e4e4;
}

.notice_wrap .notice_container .qr_wrap strong {
  display: block;
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #222;
  line-height: 1.500em;
}

.notice_wrap .notice_container .qr_wrap span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #222;
  line-height: 1.250em;
}

.notice_wrap .notice_container .qr_wrap img {
  margin-top: 29px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.notice_wrap .notice_container .qr_wrap p {
  margin-top: 24px;
  font-size: 12px;
  color: #666;
  letter-spacing: -0.030em;
  line-height: 1.417em;
}

.notice_wrap .ad_wrap {
  width: 211px;
  height: 238px;
  border-radius: 10px;
  overflow: hidden;
}
/* notice_wrap end */

/* footer start */
footer {
  min-width: 1040px;
  padding: 0 0 14px;
  background-color: #f8f8f8;
}

footer nav {
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
  padding-top: 263px;
  border-bottom: 1px solid #ebebeb;
}

footer nav a {
  font-weight: 500;
  line-height: 1.462em;
}

footer nav a:hover {
  text-decoration: underline;
}

footer nav a strong {
  font-weight: 700;
  color: #222;
  text-decoration: underline;
}

footer .footer_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 23px 0;
}

footer .footer_info .company_info {
  font-size: 12px;
  line-height: 1.667em;
}

footer .footer_info .company_info address {
  font-style: normal;
}

footer .footer_info .company_info dl {
  display: flex;
}

footer .footer_info .company_info dl dt::after {
  content: ':';
  padding: 0 4px;
}

footer .footer_info .company_info dl dt::before {
  content: '·';
  padding: 0 8px 0 4px;
}

footer .footer_info .company_info dl dt:nth-of-type(1):before {
  content: '';
  padding: 0;
}

footer .footer_info .company_info dl dd a {
  text-decoration: underline;
}

footer .footer_info .familysite_wrap select {
  height: 34px;
  font-size: 12px;
  line-height: 34px;
  border: 1px solid #d8d8d8;
  background-color: transparent;
  margin-right: -1px;
}

footer .footer_info .familysite_wrap select .familysiteTitle {
  display: none;
}

footer .footer_info .familysite_wrap a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 34px;
  font-size: 14px;
  color: #fff;
  line-height: 1.429em;
  background-color: #9e9e9e;
  vertical-align: top;
}
/* footer end */

/* fixedBtn_wrap start */
.fixedBtn_wrap {
  position: fixed;
  bottom: 80px;
  width: 100%;
  height: 50px;
  z-index: 7;
}

.fixedBtn_wrap .contaniner {
  position: relative;
  display: flex;
}

.fixedBtn_wrap .btn_ticketing {
  position: absolute;
  right: -58px;
  display: inline-block;
  text-align: center;
  width: 136px;
  padding: 12px 0 14px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1.500em;
  background-image: linear-gradient(to left, rgb(255, 115, 86), rgb(251, 67, 87));
  box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  opacity: 0;
  transition: right 0.4s;
}

.fixedBtn_wrap.active .btn_ticketing {
  right: 0;
  opacity: 1;
}

.fixedBtn_wrap .btn_gotoTop {
  position: absolute;
  right: -58px;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background-image: url(/assets/img/gotoTop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 21px;
  opacity: 0;
  transition: opacity 0.2s;
}

.fixedBtn_wrap.active .btn_gotoTop {
  opacity: 1;
  transition: opacity 0.4s;
}
/* fixedBtn_wrap end */